* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.web-color {
  background-color: #FA9000;
  padding: 300px;
  
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(66, 45, 45, 0.75);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color:#07E3D1;
  
}

img {
  max-width: 1000px;
}

.title {
  color: gray;
  
}

/* button feature for contact info */

button {
  
  margin: 20px auto;
  background-color:#D5FCFF;
  color: black;
  font-weight:700;
  height: 45px;
  
}

h1 {
  font-family: serif;
  font-size: 25px;
}

/* quote formatting */

q {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* contact information button */

button:hover {
  opacity: .8;
}

/* hover feature over icons */

a:hover{
  background-color: rgb(146, 230, 230);
  opacity: .7;
}

/* spacing for icons */

a {
  padding-top: 5px;
  display: inline-block;
}

.quote {
  padding-top: 10px;
  position: relative;
  top: 5px;
  font-family: serif;
  font-weight: 700;
}
